{% extends "base.html" %}

{% block title %}{{ super() }} : {{ article.title }}{% endblock %}

{% block meta_other %}
{% if article.status == 'draft' %}
<meta name="robots" content="noindex"/>
{% endif %}
{% endblock %}

{% block content %}
<header>
    <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> ::
        <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
    {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
    {% if not HIDE_AUTHOR %}<a href="{{ SITEURL }}/author/index.html" id="article-author">written by {{ article.author }}</a>{% endif %}
</header>
<article>
    {% if article.abstract is defined %}
    <p id="article-abstract">
      {{ article.abstract|e }}
    </p>
    {% endif %}

    {{ article.content }}

    <p id="article-meta">
     {% for tag in article.tags %} <a class="meta tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}
   </p>
</article>
{% include 'twitter.html' %}
{% endblock %}
