<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Exo+2:400,500|Alegreya|Inconsolata' rel='stylesheet' type='text/css'>
        <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!--[if IE]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
{% include 'github.html' %}
        {% block content %}
        {% endblock %}

        <footer>
            <nav>
                <ul>
                    <li><a href="{{ SITEURL }}">Home</a> ::</li>
                {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>{% if not loop.last %} ::{% endif %}</li>
                {% endfor %}
                {% if tags|length > 1 %}
                    <li>:: <a href="{{ SITEURL }}/tags/">Tags</a></li>
                {% endif %}
                </ul>
                {% if SOCIAL %}
                <ul class="social widget">
                {% for name, link in SOCIAL %}
                    <li><a href="{{ link }}">{{ name }}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            </nav>

            <p id="legal">
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" />
              </a><br />
              <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">halting problem</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://bassi.io" property="cc:attributionName" rel="cc:attributionURL">Emmanuele Bassi</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>

        </footer>

{% include 'analytics.html' %}
</body>
</html>
