{% extends "base.html" %}

{% block title %}
{% if articles_page.number != 1 %}
{{ super() }} : page {{ articles_page.number }}
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}        
{% if articles_page %}
    {# we skip the 'talks' category just because we can #}
    {% for article in articles_page.object_list if not article.category in [ "talks", ] %}

        {# we only expand the first item in the first page #}
        {% if not articles_page.has_previous() and loop.first %}
            <header>
                <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a> :: <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
                <div class="post-stats">
                  {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> :: {% endif %}
                  <span title="~{{ article.stats['wc'] }} words">~{{ article.stats['read_mins'] }} min read</span>
                </div>
            </header>

            <article>
                <section>
                    <div class="content">
                    {{ article.content }}
                    </div>

                    <p id="article-meta">
                    {% for tag in article.tags %} <a class="meta tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}
                   </p>
                </section>
            </article>

            <section id="article-list">
                <h3>Older posts</h3>
                <ol>
        {# other items get a link and the summary #}
        {% else %} 
            {% if loop.first %}
            <header>
                <h1><a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
                :: page {{ articles_page.number }}</h1>
            </header>

            <section id="article-list">
                <h3>Older posts</h3>
                <ol>
            {% endif %}

            <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" class="archive permalink" title="Permalink to {{ article.title|striptags }}">{{
            article.title }}</a>,
            <time class="archive" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> &mdash;
            <span class="archive summary">{{ article.summary|striptags }}</span></li>
        {% endif %}

        {# close the article list #}
        {% if loop.last %}
                </ol>
            </section>
        {% endif %}

    {% endfor %}

    {% include 'pagination.html' %}
{% else %}
    No posts found.
{% endif %}
{% endblock content %}
