@import url("pygment.css");

body {
  background: white;
  color: #333;
  font-family: 'Alegreya', 'Lucida Grande', 'Lucida Sans', serif;
  font-size: 22px;
  line-height: 30px;
}

h1 {
  color: #333333;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: #666666;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1.2em;
}

h3 {
  color: #666666;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1em;
}

h4 {
  color: #666666;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 0.8em;
}

header {
  position: fixed;
  padding-bottom: 12px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(0px);
  transition: .2s background-color, color;
  box-sizing: border-box;
  display: block;
  visibility: visible;
  text-align: center;
}

header a {
  border-bottom: none;
}

header a#page-title {
  font-weight: bold;
}

header a#article-author {
  text-align: right;
  color: #c0c0c0;
  font-size: 14px;
  margin-top: 65px;
  padding-left: 10em;
}

header div.post-stats {
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
  color: #c0c0c0;
}

section {
  padding-top: 120px;
  height: 100%;
  position: relative;
  display: block;
  clear: both;
  overflow: hidden;
}

article hr {
  color: #c0c0c0;
  width: 25%;
  margin: 50px auto 40px auto;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
  height: 0;
}

p#article-abstract {
  margin: 24px auto 48px auto;
  width: 650px;
  color: #aaa;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

div.avatar {
  margin: 0 auto;
  text-align: center;
}

div.avatar img {
  border: none;
  width: 500px;
  max-width: 100%;
  height: auto;
}

article div.content {
  position: relative;
  right: 0%;
  transition: right 0.2s ease 0s;
  margin: 0 auto;
  width: 650px;
  clear: both;
}

article figure {
  position: relative;
  margin-bottom: 30px;
  clear: both;
  outline: medium none;
  box-sizing: border-box;
  display: block;
}

article figure.code {
  position: relative;
  margin: 0px;
  clear: both;
  outline: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 30px;
}

figure.code figcaption {
  width: 650px;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-image: none;
  border-color: #cbcbcb #a5a5a5;
  background: linear-gradient(to bottom, #a5a5a5, #cbcbcb);
  color: white;
  font-size: 14px;
  text-align: center;
  text-shadow: 0px 1px 0px #999;
}

figure.code figcaption span::before {
  content: '« ';
}

figure.code figcaption span::after {
  content: ' »';
}

figure.code div.highlight pre {
  margin: 0px;
  padding: 12px;
  font-size: 10.5pt;
}

figure.code figcaption a {
  color: white;
  position: absolute;
  right: 0.8em;
  z-index: 1;
  border: none;
}

figure.code figcaption a::after {
  content: " ↓ ";
}

article img {
  width: 650px;
  max-width: 100%;
  height: auto;
  border: none;
}

blockquote {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  margin: 48px -60px;
  padding: 0 12px 0 12px;
  font-size: 1.3em;
  font-style: italic;
}

div.content {
  word-wrap: break-word;
}

div.content p {
  line-height: 30px;
  margin: 30px auto;
  text-indent: 0px;
}

.image-caption {
  position: absolute;
  left: -175px;
  width: 145px;
  font-size: 12px;
  margin-top: 0;
  text-align: right;
  z-index: 300;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  outline: 0px none;
}

.image-caption:before {
  width: 25%;
  margin-left: 75%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  content: "";
  margin-bottom: 10px;
}

div.content aside {
  position: absolute;
  right: -175px;
  width: 145px;
  font-size: 12px;
  margin-top: 0;
  text-align: left;
  z-index: 300;
  letter-spacing: 0.01rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
  outline: 0px none;
}

div.content aside:before {
  width: 25%;
  margin-right: 75%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  display: block;
  content: "";
  margin-bottom: 10px;
}

a {
  border-bottom: #999 1px solid;
  color: #303030;
  text-decoration: none;
}

a:hover {
  color: #999;
}

ul, ol {
  padding: .5em 0em 1em 3.2em;
}

ul li, ol li {
  line-height: 30px;
  padding: 6px 0 0 0;
}

strong {
  color: #555555;
  font-weight: bold;
}

tt, pre {
  background-color: #fafafa;
  font-family: 'Inconsolata', Monaco, monospace;
  line-height: 1.2em;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}

code {
  font-family: 'Inconsolata', Monaco, monospace;
}

pre {
  font-size: 18px;
  padding: 10px;
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

article p#article-meta {
  margin: 24px auto;
  width: 650px;
  font-size: 14px;
  color: #c0c0c0;
  text-align: right;
}

article div.related {
  margin: 0 auto;
  width: 650px;
  font-size: 0.9em;
  color: #c0c0c0;
  text-align: left;
}

article div.footnote {
  font-size: 0.8em;
  color: #c0c0c0;
  line-height: 1em;
}

div.footnote ol {
  margin: 0;
  padding: 0;
}

div.footnote ol li {
  margin: 0;
  padding: 0;
}

.meta {
  border: none;
  text-decoration: none;
  color: #333;
}

.tag {
  background-color: #eee;
  padding: 0.1em 0.4em;
  margin: 0.1em 0.4em;
}

.content-list {
  margin: 0 auto;
  width: 650px;
}

.content-list ul li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px;
}

#article-list {
  margin: 0 auto;
  width: 650px;
}

#article-list ol li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px;
}

#author-list {
  margin: 0 auto;
  width: 650px;
}

#tag-list {
  margin: 0 auto;
  width: 650px;
}

#category-list {
  margin: 0 auto;
  width: 650px;
}

.archive {
  font-size: 0.8em;
}

.paginator {
  margin: 0 auto;
  width: 650px;
}

a.permalink {
  text-decoration: none;
  border-bottom: #666 1px solid;
  color: black;
}

a.permalink::after {
  content: "→";
}

span.summary {
  color: #aaa;
  font-size: 0.8em;
}

#article-list li time {
  color: #c0c0c0;
}

.widget-list {
  margin: 0 auto;
  width: 650px;
  text-align: center;
}

footer {
  background: #fff;
  color: #666;
  font-size: 14px;
  letter-spacing: 4px;
  margin: 1em auto;
  padding-top: 12px;
  width: 650px;
}

footer p.author {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

footer div.author-data {
  padding-left: 2em;
}

footer span.author-name {
  font-weight: 400;
}

footer span.author-bio {
  font-style: italic;
}

footer a {
  border-bottom: none;
  color: #c0c0c0;
}

footer li {
  display: inline;
}

footer p {
  text-align: right;
}

footer p#legal {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 12px;
  margin-top: 2em;
  text-align: center;
}

footer ul.pages {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  padding-top: 24px;
}

footer ul.social {
  text-align: center;
}

footer ul.social li a, footer ul.pages li a {
  color: #aaa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  text-decoration: none;
}

ul.social li::before {
  content: ":: ";
}

ul.social li::after {
  content: " ::";
}

table {
  margin: 4em 0 4em -30px;
  left: -60px;
  width: 710px;
}

thead th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.75em;
}

tbody tr td {
  font-size: 0.75em;
}

th:nth-child(even) {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-right: 1em;
}

th:nth-child(odd) {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 1em;
}

tbody tr td:nth-child(2) {
  padding-right: 1em;
}

tbody tr td:nth-child(3) {
  padding-left: 1em;
}
