@import url("pygment.css");

body {
  background: white;
  color: #333;
  font-family: 'Alegreya', 'Lucida Grande', 'Lucida Sans', serif;
  font-size: 22px;
  line-height: 30px;
  width: 650px;
  margin: 0 auto;
}

h1 {
  color: #333333;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  color: #666666;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1.2em;
}

h3 {
  color: #666666;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 1em;
}

h4 {
  color: #666666;
  font-family: 'Exo 2', Helvetica, sans-serif;
  font-size: 0.8em;
}

header time {
  color: #c0c0c0;
  font-size: 14px;
  margin-top: 65px;
}

article hr {
  color: #c0c0c0;
  width: 25%;
  margin: 50px auto 40px auto;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-sizing: content-box;
  height: 0;
}

div.avatar {
  padding-top: 120px;
  margin-bottom: -80px;
  width: 650px;
  text-align: center;
}

div.avatar img {
  border: none;
}

article img {
  width: 650px;
  max-width: 100%;
  height: auto;
  border: none;
}

blockquote {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  margin: 48px -60px;
  padding: 0 12px 0 12px;
  font-size: 1.3em;
  font-style: italic;
}

p {
  line-height: 30px;
  margin: 30px auto;
  text-indent: 0px;
}

p.caption {
  position: absolute;
  top: 0;
  left: -172px;
  width: 150px;
  font-size: 80%;
  margin-top: 0;
  text-align: right;
}

a {
  border-bottom: #999 1px solid;
  color: #303030;
  text-decoration: none;
}

a:hover {
  color: #999;
}

ul, ol {
  padding: .5em 0em 1em 3.2em;
}

ul li, ol li {
  line-height: 30px;
  padding: 6px 0 0 0;
}

strong {
  color: #555555;
  font-weight: bold;
}

tt, pre {
  background-color: #fafafa;
  font-family: 'Inconsolata', Monaco, monospace;
  line-height: 1.2em;
}

code {
  font-family: 'Inconsolata', Monaco, monospace;
}

pre {
  font-size: 18px;
  padding: 10px;
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

header {
  position: fixed;
  padding-bottom: 12px;
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(0px);
  transition: .2s background-color, color;
  box-sizing: border-box;
  display: block;
  visibility: visible;
  text-align: center;
}

header a {
  border-bottom: none;
}

header a#page-title {
  font-weight: bold;
}

header a#article-author {
  text-align: right;
  color: #c0c0c0;
  font-size: 14px;
  margin-top: 65px;
  padding-left: 10em;
}

article p#article-abstract {
  margin-top: 24px;
  margin-bottom: 48px;
  color: #aaa;
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

article p#article-meta {
  margin-top: 24px;
  font-size: 14px;
  color: #c0c0c0;
  text-align: right;
}

article div.related {
  font-size: 0.9em;
  color: #c0c0c0;
  text-align: left;
}

.meta {
  border: none;
  text-decoration: none;
  color: #333;
}

.tag {
  background-color: #eee;
  padding: 0.1em 0.4em;
  margin: 0.1em 0.4em;
}

#article-list {
  margin-top: 100px;
}

#article-list ol li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px;
}

#tag-list {
  margin-top: 100px;
}

#category-list {
  margin-top: 100px;
}

article {
  padding-top: 120px;
}

.archive {
  font-size: 0.8em;
}

a.permalink {
  text-decoration: none;
  border-bottom: #666 1px solid;
  color: black;
}

span.summary {
  color: #aaa;
  font-size: 0.8em;
}

#article-list li time {
  color: #c0c0c0;
}

footer {
  background: #fff;
  color: #666;
  font-size: 14px;
  letter-spacing: 4px;
  margin: 1em 20px;
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

footer a {
  border-bottom: none;
  color: #c0c0c0;
}

footer ul.social li a {
  color: #aaa;
  border-bottom: #666 1px solid;
  text-decoration: none;
}

footer li {
  display: inline;
}

footer p {
  text-align: right;
}

footer p#legal {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 12px;
  margin-top: 2em;
  text-align: center;
}

footer ul.pages {
  text-align: center;
}

footer ul.social {
  text-align: center;
}

ul.social li::before {
  content: ":: ";
}

ul.social li::after {
  content: " ::";
}
